%pb-20 {
	padding-bottom: 2rem;
}
%pt-20 {
	padding-top: 2rem;
}
%py-20 {
	padding-bottom: 2rem;
	padding-top: 2rem;
}
%px-20 {
	padding-left: 2rem;
	padding-right: 2rem;
}

%pb-30 {
	padding-bottom: 3rem;
}
%pt-30 {
	padding-top: 3rem;
}
%py-30 {
	padding-bottom: 3rem;
	padding-top: 3rem;
}
%px-30 {
	padding-left: 3rem;
	padding-right: 3rem;
}

%pb-40 {
	padding-bottom: 4rem;
}
%pt-40 {
	padding-top: 4rem;
}
%py-40 {
	padding-bottom: 4rem;
	padding-top: 4rem;
}
%px-40 {
	padding-left: 4rem;
	padding-right: 4rem;
}

%mb-20 {
	margin-bottom: 2rem;
}
%mt-20 {
	margin-top: 2rem;
}
%my-20 {
	margin-bottom: 2rem;
	margin-top: 2rem;
}
%mx-20 {
	margin-left: 2rem;
	margin-right: 2rem;
}

%mb-30 {
	margin-bottom: 3rem;
}
%mt-30 {
	margin-top: 3rem;
}
%my-30 {
	margin-bottom: 3rem;
	margin-top: 3rem;
}
%mx-30 {
	margin-left: 3rem;
	margin-right: 3rem;
}

%mb-40 {
	margin-bottom: 4rem;
}
%mt-40 {
	margin-top: 4rem;
}
%my-40 {
	margin-bottom: 4rem;
	margin-top: 4rem;
}
%mx-40 {
	margin-left: 4rem;
	margin-right: 4rem;
}