@import "mm-4-coll";
@import "mm-single-col";
.mm-header .mm--menu > ul > li .mm--sub-menu.mega-menu { 
	left: 50%;
	transform: translateX(-50%);
}
@media(max-width: 991px) {
	.mm-header .mm--menu > ul > li .mm--sub-menu.mega-menu {
		visibility: visible;
		opacity: 1;
		position: absolute;
		box-shadow: none;
		margin:0;
		padding:15px;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		padding-top: 65px;
		max-width: none;
		min-width: auto;
		display: none;
		transform: translateX(0%);
		overflow-y: auto;
		& > .list-item > ul > li > a {
			display: block;
		}
		& > .list-item > ul {
			margin-bottom: 15px;
		}
	}
}